#brackets-ruler table,
#brackets-ruler tbody,
#brackets-ruler tr,
#brackets-ruler td {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
}

#brackets-ruler {
    font-family: "SourceCodePro-Medium", "ＭＳ ゴシック", "MS Gothic", monospace;
    background-color: #3C3F41;
    overflow: hidden;
}

#brackets-ruler .br-ruler {
    border-collapse: collapse;
    border-spacing: 0;
    position: relative;
    width: 0;
}

#brackets-ruler .br-numbers {
    color: #ffffff;
    font-weight: bold;
}

#brackets-ruler .br-number {
    text-align: center;
}

#brackets-ruler .br-tick-marks {
    line-height: 0;
}

#brackets-ruler .br-major-tick-mark:before,
#brackets-ruler .br-minor-tick-mark:before {
    content: "";
    position: relative;
    display: block;
    left: 50%;
    height: 5px;
    width: 1px;
}

#brackets-ruler .br-major-tick-mark:before {
    background-color: #ffffff;
}

#brackets-ruler .br-minor-tick-mark:before {
    background-color: #8e9a9d;
}

#brackets-ruler .br-tick-mark-left-filler:before,
#brackets-ruler .br-tick-mark-right-filler:before {
    display: none;
}

.brackets-ruler-column-guide {
    border-left: 1px solid rgb(128, 128, 128);
    border-left: 1px solid rgba(128, 128, 128, 0.5);
}
