/* Reset all table attributes */
#brackets-ruler table,
#brackets-ruler tbody,
#brackets-ruler tr,
#brackets-ruler td {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
}

/* Ruler styles */
#brackets-ruler {
    background-color: #3C3F41;
    overflow: hidden;
}

#brackets-ruler table {
    border-collapse: collapse;
    border-spacing: 0;
    position: relative;
}

/* Ruler styles */
#brackets-ruler .numbers {
    color: #ffffff;
}

#brackets-ruler .number {
    text-align: center;
}

#brackets-ruler .tick-marks {
    font-family: 'SourceCodePro';
    line-height: 0;
}

#brackets-ruler .major-tick-mark:before,
#brackets-ruler .minor-tick-mark:before {
    content: "";
    position: relative;
    display: block;
    left: 50%;
    height: 5px;
    width: 1px;
}

#brackets-ruler .major-tick-mark:before {
    background-color: #ffffff;
}

#brackets-ruler .minor-tick-mark:before {
    background-color: #8e9a9d;
}

#brackets-ruler #tick-mark-left-filler:before {
    display: none;
}
