#brackets-ruler {
    font-size: 100%;
    font-family: monospace;
    border-collapse: collapse;
    background-color: #C0C0C0;
    margin: 0;
}

#brackets-ruler .numbers {
    font-size: 70%;
    font-weight: bold;
}

#brackets-ruler .numbers .number {
    border:none;
    text-align: center;
    padding: 0;
}

#brackets-ruler .major-tick-mark {
    border:none;
    padding: 0;
    font-weight: bolder;
}

#brackets-ruler .minor-tick-mark {
    border:none;
    padding: 0;
    color: #808080;
}