/* Reset all table attributes */
#brackets-ruler table,
#brackets-ruler tbody,
#brackets-ruler tr,
#brackets-ruler td {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
}

/* Ruler styles */
#brackets-ruler {
    background-color: #3C3F41;
}

#brackets-ruler table {
    border-collapse: collapse;
    border-spacing: 0;
    position: relative;
}

/* Ruler styles */
#brackets-ruler .numbers {
/*    font-weight: bold;*/
    color: #fff;
}

#brackets-ruler .number {
    text-align: center;
}

#brackets-ruler .tick-marks {
    font-family: 'SourceCodePro';
    line-height: 0;
}

#brackets-ruler .major-tick-mark:before,
#brackets-ruler .minor-tick-mark:before {
    content: "";
    position: relative;
    display: block;
    left: 50%;
    height: 5px;
    width: 1px;
}

#brackets-ruler .major-tick-mark:before {
    background-color: #FFFFFF;
}

#brackets-ruler .minor-tick-mark:before {
    background-color: #8E9A9D;
}

#brackets-ruler #dummy-tick-mark:before {
    display: none;
}
