/* Reset all table attributes */
#brackets-ruler table,
#brackets-ruler tbody,
#brackets-ruler tr,
#brackets-ruler td {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
}

#brackets-ruler table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Ruler styles */
#brackets-ruler #ruler {
    font-family: monospace;
    background-color: #3C3F41;
}

#brackets-ruler .numbers {
    font-size: 70%;
    font-weight: bold;
    color: #fff;
}

#brackets-ruler .number {
    text-align: center;
}

#brackets-ruler .tick-marks {
    line-height: 0.75ex;
    color: #fff;
}

#brackets-ruler .major-tick-mark {
    font-weight: bolder;
}

#brackets-ruler .minor-tick-mark {
    color: #808080;
}
